
/* Глобальные стили */
html {
  font-size: 16px;
  font-family: Arial, Helvetica, serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  min-width: 300px;
}
p {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: justify;
}
a {
  text-decoration: none;
  color: #000000;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

/* Анимация */
@keyframes bouncing {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(-10px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
    
  }
}
@keyframes run {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(110px) rotate(15deg);
  }
  10% {
    transform: translateX(220px) rotate(-15deg);
  }
  15% {
    transform: translateX(330px) rotate(15deg);
  }
  20% {
    transform: translateX(440px) rotate(-15deg);
  }
  25% {
    transform: translateX(550px) rotate(15deg);
  }
  30% {
    transform: translateX(660px) rotate(-15deg);
  }
  35% {
    transform: translateX(770px) rotate(15deg);
  }
  40% {
    transform: translateX(880px) rotate(-15deg);
  }
  45% {
    transform: translateX(990px) rotate(15deg);
  }
  50% {
    transform: translateX(1100px) scale(-1, 1);
  }
  55% {
    transform: translateX(990px) rotate(15deg) scale(-1, 1);
  }
  60% {
    transform: translateX(880px) rotate(-15deg) scale(-1, 1);
  }
  65% {
    transform: translateX(770px) rotate(15deg) scale(-1, 1);
  }
  70%{
    transform: translateX(660px) rotate(-15deg) scale(-1, 1);
  }
  75% {
    transform: translateX(550px) rotate(15deg) scale(-1, 1);
  }
  80% {
    transform: translateX(440px) rotate(-15deg) scale(-1, 1);
  }
  85% {
    transform: translateX(330px) rotate(15deg) scale(-1, 1);
  }
  90% {
    transform: translateX(220px) rotate(-15deg) scale(-1, 1);
  }
  95% {
    transform: translateX(110px) rotate(15deg) scale(-1, 1);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes run900 {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(90px) rotate(15deg);
  }
  10% {
    transform: translateX(180px) rotate(-15deg);
  }
  15% {
    transform: translateX(270px) rotate(15deg);
  }
  20% {
    transform: translateX(360px) rotate(-15deg);
  }
  25% {
    transform: translateX(450px) rotate(15deg);
  }
  30% {
    transform: translateX(540px) rotate(-15deg);
  }
  35% {
    transform: translateX(630px) rotate(15deg);
  }
  40% {
    transform: translateX(720px) rotate(-15deg);
  }
  45% {
    transform: translateX(810px) rotate(15deg);
  }
  50% {
    transform: translateX(900px) scale(-1, 1);
  }
  55% {
    transform: translateX(810px) rotate(15deg) scale(-1, 1);
  }
  60% {
    transform: translateX(720px) rotate(-15deg) scale(-1, 1);
  }
  65% {
    transform: translateX(630px) rotate(15deg) scale(-1, 1);
  }
  70%{
    transform: translateX(540px) rotate(-15deg) scale(-1, 1);
  }
  75% {
    transform: translateX(450px) rotate(15deg) scale(-1, 1);
  }
  80% {
    transform: translateX(360px) rotate(-15deg) scale(-1, 1);
  }
  85% {
    transform: translateX(270px) rotate(15deg) scale(-1, 1);
  }
  90% {
    transform: translateX(180px) rotate(-15deg) scale(-1, 1);
  }
  95% {
    transform: translateX(90px) rotate(15deg) scale(-1, 1);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes run700 {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(70px) rotate(15deg);
  }
  10% {
    transform: translateX(140px) rotate(-15deg);
  }
  15% {
    transform: translateX(210px) rotate(15deg);
  }
  20% {
    transform: translateX(280px) rotate(-15deg);
  }
  25% {
    transform: translateX(350px) rotate(15deg);
  }
  30% {
    transform: translateX(420px) rotate(-15deg);
  }
  35% {
    transform: translateX(490px) rotate(15deg);
  }
  40% {
    transform: translateX(560px) rotate(-15deg);
  }
  45% {
    transform: translateX(630px) rotate(15deg);
  }
  50% {
    transform: translateX(700px) scale(-1, 1);
  }
  55% {
    transform: translateX(630px) rotate(15deg) scale(-1, 1);
  }
  60% {
    transform: translateX(560px) rotate(-15deg) scale(-1, 1);
  }
  65% {
    transform: translateX(490px) rotate(15deg) scale(-1, 1);
  }
  70%{
    transform: translateX(420px) rotate(-15deg) scale(-1, 1);
  }
  75% {
    transform: translateX(350px) rotate(15deg) scale(-1, 1);
  }
  80% {
    transform: translateX(280px) rotate(-15deg) scale(-1, 1);
  }
  85% {
    transform: translateX(210px) rotate(15deg) scale(-1, 1);
  }
  90% {
    transform: translateX(140px) rotate(-15deg) scale(-1, 1);
  }
  95% {
    transform: translateX(70px) rotate(15deg) scale(-1, 1);
  }
  100% {
    transform: translateX(0);
  }
}

/* Стилизация скролла */
::-webkit-scrollbar {
  width: 0;
}
html, body {
  scrollbar-width: none;
}

.background_container {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  background:  url("image/IMG_0558_back.webp") center center no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
@media (max-width: 768px) {
  .background_container {
    display: none;
  }
}

/* Хедер и меню навигации */
.header,
.footer {
  padding: 25px calc(50% - 600px);
  background-color: #df901a;
  text-align: center;
  z-index: 2;
}
.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.link {
  color: #ffffff;
  transition: color 0.5s;
}
.link:hover {
  color: #525252;
}
.link_active {
  color: #000000;
  cursor: default;
}
.menu {
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu_item {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 0px 25px;
  text-decoration: none;
}
.header_logo {
  position: absolute;
  top: 0;
  padding-left: 20px;
  transition: transform 0.3s;
}
.header_logo-wrap {
  position: absolute;
  left: calc(50% - 600px);
  top: 0;
  width: 100px;
  height: 75px;
  z-index: 5;
}
.header_logo-wrap:hover ~ .header_logo .logo {
  animation: run 3s linear 0s infinite;
}
.header_logo-wrap:hover ~ .header_logo .logo{
  color: #000000;
}
.header_link {
  display: block;
}
.logo {
  color: #ffffff;
  width: 70px;
  height: 70px;
  transition: color 1s;
  z-index: 1;
}
@media (max-width: 1200px) {
  .header_logo-wrap {
    left: 0;
  }
  .header_logo-wrap:hover ~ .header_logo .logo {
    animation: run900 2s linear 0s infinite;
  }
}
@media (max-width: 900px) {
  .header_logo-wrap:hover ~ .header_logo .logo {
    animation: run700 1.5s linear 0s infinite;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .menu {
    flex-direction: column;
    align-items: flex-end;
  }
  .header_logo-wrap {
    display: none;
  }
  .logo {
    color: #000000;
  }
}

/* Картинки и попап */
.photos {
  min-width: 300px;
  color: #000000;
  padding: 40px 20px;
  border-right: 1px solid rgba(223, 144, 26, 0.5);
}
.close_img {
  margin-top: -200px;
}
.photos_link {
  overflow: hidden;
  display: block;
  width: 300px;
  max-height: 200px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.photos_image {
  transition: transform 2s;
  max-width: 100%;
}
.photos_link:hover .photos_image {
  transform: scale(1.05);
}
.photos_popup:not(:target) {
  display: none;
}
.photos_popup:target {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
  z-index: 10;
}
.full-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photos_popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 45px;
  text-decoration: none;
  color: #df901a;
  transition: transform 0.5s, color 0.3s;
  transform: rotate(45deg);
  z-index: 2;
}
.photos_popup-close:hover {
  transform: rotate(-45deg);
  color: #ff0000;
}
@media (max-width: 768px) {
  .photos {
    border: none;
    padding: 10px 0 0;
    min-width: 200px;
  }
}
/* Главная страница */
.main {
  flex-grow: 2;
  display: flex;
  padding: 0 calc(50% - 600px);
}
.page {
  width: 100%;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
}
.page_link {
  position: relative;
  color: #6e6e6e;
  transition: color 0.3s;
  z-index: 1;
}
.page_link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  bottom: 0;
  left: 1px;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.page_link:hover {
  color: #000000;
}
.page_link:hover::after {
  transform: scaleX(1);

}
.up_link {
  position: sticky;
  display: block;
  top: 90%;
  margin-left: -110px;
  width: 20px;
  height: 20px;
  border-left: 5px solid #df901a;
  border-top: 5px solid #df901a;
  transform: rotate(45deg);
}
.up_link__mobile {
  display: none;
}
.up_link:hover {
  border-color: black;
  animation: bouncing 1s ease-in-out 0s infinite;
}
@media (max-width: 768px) {
  .page {
    padding: 0 10px;
  }
  .main__mobile {
    flex-direction: column;
  }
  .up_link {
    display: none;
  }
  .up_link__mobile {
    display: block;
    margin-left: 90%;
    animation: bouncing 1s ease-in-out 0s infinite;
    border-color: #000000;
  }
}

/* Страница "обо мне" */
.main_table {
  flex-direction: column;
}
.table_wrap {
  padding: 20px;
  justify-content: flex-end;
}
.table_title {
  text-align: center;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table_cell-mobile {
  display: none;
}
.table_cell-image {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.table_cell-description {
  padding: 20px 0 20px 40px;
}
.table_cell-description__left {
  padding: 20px 40px 20px 0;
}
.paragraph_center {
  text-align: center;
}
.up_link-table {
  display: none;
}
@media (max-width: 768px) {
  .table_cell-description {
    display: none;
  }
  .table_cell-mobile {
    display: block;
    padding: 0 10px;
  }
  .table_cell-image {
    text-align: center;
  }
  .table_wrap {
    padding: 0;
  }
  .footer {
    position: relative;
  }
  .up_link-table {
    position: absolute;
    display: block;
    top: -30px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-left: 5px solid #000000;
    border-top: 5px solid #000000;
    transform: rotate(45deg);
    animation: bouncing 1s ease-in-out 0s infinite;
  }
}

/* Страница обратной связи */
.bgrnd {
  background:  url("image/IMG_0558_back.webp") center center no-repeat;
  background-size: cover;
}
.main_form {
  flex-direction: column;
  justify-content: center;
}
.page_form {
  margin: 0 auto;
}
.page_form-title {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 50px;
}
.form {
  width: 500px;
}
.form_label {
  display: inline-block;
  padding-bottom: 5px;
}
.form_input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: inherit;
}
.form_input:hover,
.form_input:focus,
.form_input:active {
  background-color: #ffffff;
  outline: none;
}
.form_area {
  height: 100px;
  resize: none;
  font-family: inherit;
}
.form_button-container {
  display: flex;
  justify-content: space-between;
}
.form_button {
  padding: 10px 20px;
  width: 45%;
  font-size: 16px;
  text-transform: uppercase;
  background-color: rgba(219, 132, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.form_button:hover {
  background-color: #df901a;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .form_input:hover,
  .form_input:focus,
  .form_input:active {
    background-color: rgba(219, 132, 0, 0.5);
    outline: none;
  }
  .page_form-title {
    margin-top: 20px;
    margin-bottom: 0;
  }
}